<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Love Diary</title>
	<link rel="stylesheet" type="text/css" href="./css/diary.css">
	<script src="./js/diary.js"></script>
</head>
<body>
	<div class="container">
		<h1>Love Diary</h1>
		<div>
			<label for="date">날짜:</label>
			<input type="date" id="date" name="date"><br><br>
			<label for="title">제목:</label>
			<input type="text" id="title" name="title"><br><br>
			<label for="content">내용:</label><br>
			<textarea id="content" name="content" rows="10" cols="50"></textarea><br><br>
			<button onclick="writeDiary()">저장</button>
		</div>
	</div>
</body>
</html>