<!-- /*
* Template Name: Style
* Template Author: Untree.co
* Tempalte URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    />
    <meta name='author' content='Untree.co' />
    <link rel='shortcut icon' href='favicon.png' />

    <meta name='description' content='' />
    <meta name='keywords' content='free template, bootstrap, bootstrap4' />

    {{>link}}
    <script
      src='https://kit.fontawesome.com/d0a3eca6a4.js'
      crossorigin='anonymous'
    ></script>

    <title>모찌랑 만두</title>
  </head>
  <body>
    <div class='lines-wrap'>
      <div class='lines-inner'>
        <div class='lines'></div>
      </div>
    </div>
    <!-- END lines -->
    <!-- Nav Bar -->
    {{>header}}
    <!-- Nav Bar End-->
    <div class='custom-hero'>
      <div class='container'>
        <div class='row justify-content-center'>
          <div class='col-lg-6'>
            <h1 class='hero-heading'>Mozzi and Mandu Love Story Collection &mdash; 2023.01.11 {{date}}</h1>
            <div class='line js-line mx-auto mb-3 my-3'></div>
            <p class='sub-text'>Life's greatest happiness is to be convinced we
              are loved.</p>
          </div>
        </div>
      </div>
    </div>

    <div class='site-section'>
      <div class='container'>
        <div class='row align-items-center justify-content-around'>

          <div class='col-lg-4 text-center'>

            <div>
              <div data-jarallax-element='-100' class='jarallax'>
                <h2>old television</h2>
                <span class='d-inline-block'>us reflected in the old television</span>
                <img
                  src='images/1.jpg'
                  alt='Image'
                  class='img-fluid my-3 my-lg-5'
                />
                <p class='line-top fig-2-text mb-4'>광주, 문화전당역 전시 모찌와
                  함께 낡은 텔레비전에.</p>
              </div>
            </div>

          </div>
          <div class='col-lg-5 mt-5'>

            <div>
              <h2>A finger heart</h2>
              <span class='d-inline-block'>A Cat and a Finger Heart Shadow</span>

              <div class='line me-auto mb-3 mt-3'></div>

              <p class='line-top fig-2-text my-4'>광주, 문화전당역 전시 우리의
                손가락 하트 그리고 고양이</p>
              <img src='images/2.jpg' alt='Image' class='img-fluid' />
            </div>
          </div>
        </div>
      </div>
    </div>
     
    <div class="container pb-5 mb-5 border-bottom">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="h6 mb-3 text-black">Gallery</h1>
        </div>
        <div class="col-lg-12">
          <div class="row gutter-1 gallery" id="pictures">

          </div>
        </div>
      </div>
    </div>

    <div class='section'>
      <div class='container'>
        <div class='row'>

          <div
            class='col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0'
            data-aos='fade-up'
            data-aos-delay='0'
          >
            <div class='feature-v3 d-block'>
              <div class='wrap-icon'>
                <i class='fa-regular fa-image'></i>
              </div>
              <div class='text'>
                <h3>Gallery</h3>
                <p>Click on the button below.</p>
                <p class='more'><a href='addPicture'>add pictures ...</a></p>
              </div>
            </div>
          </div>

          <div
            class='col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0'
            data-aos='fade-up'
            data-aos-delay='0'
          >
            <div class='feature-v3 d-block'>
              <div class='wrap-icon'>
                <i class='fa-solid fa-pen-to-square'></i>
              </div>
              <div class='text'>
                <h3>Diary</h3>
                <p>Click on the button below.</p>
                <p class='more'><a href='writeDiary'>Write Diary ...</a></p>
              </div>
            </div>
          </div>

          <div
            class='col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0'
            data-aos='fade-up'
            data-aos-delay='200'
          >
            <div class='feature-v3 d-block'>
              <div class='wrap-icon'>
                <i class='fa-regular fa-calendar-days'></i>
              </div>
              <div class='text'>
                <h3>Calendar</h3>
                <p>Click on the button below.</p>
                <p class='more'><a href='calendar'>View more ...</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- footer -->
    {{>footer}}
    <!-- footer End-->
    <!-- Loding -->
    {{>loding}}
    <!-- Loding End -->
    <!-- Loding -->
    {{>script}}
    <!-- Loding End-->
    <script src='./js2/checkToken.js'></script>  
    <script src='./js2/index.js'></script>  
  </body>
</html>